.verticalCenterContainer  {
    min-Height: 100vh;
    display: flex;
    align-items: center;
}

p.lead {
    font-size: 25px;
}


/* Sunday */
#schedule-section .table-wrapper{
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); 
    width: 80%;
}

.sun-tbl {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 15px;
}
